<% form_for(@unidad_medida) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :abreviacion %>
    <%= f.text_field :abreviacion %>
  </p>
  <p>
    <%= f.check_box :entero %>
    <%= f.label :entero, "Entero", :style => 'float:left' %>
   </p>
  <p>
    <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>
