<% form_for(@partida) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codigo %>
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

