<h1>Listing partidas</h1>

<table>
  <tr>
    <th class="ui-state-default">Codigo</th>
    <th class="ui-state-default">Nombre</th>
    <th class="ui-state-default"></th>
  </tr>

<% @partidas.each do |partida| %>
  <tr>
    <td><%=h partida.codigo %></td>
    <td><%=h partida.nombre %></td>
    <td>
      <%= link_to 'ver', partida %>
      <%= link_to 'editar', edit_partida_path(partida) %>
      <%= link_to 'borrar', partida, :confirm => 'Esta seguro?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'nueva partida', new_partida_path %>
