<h1>Listing partidas</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
  </tr>

<% @partidas.each do |partida| %>
  <tr>
    <td><%=h partida.codigo %></td>
    <td><%=h partida.nombre %></td>
    <td><%= link_to 'Show', partida %></td>
    <td><%= link_to 'Edit', edit_partida_path(partida) %></td>
    <td><%= link_to 'Destroy', partida, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New partida', new_partida_path %>