<% content_for :title do %>
Almacenes
<% end %>
<h1>Almacenes</h1>

<table>
  <tr>
    <th class="ui-state-default">Nombre</th>
    <th class="ui-state-default">Direccion</th>
    <th class="ui-state-default">Codigo</th>
    <th class="ui-state-default"></th>
  </tr>

<% @almacenes.each do |almacen| %>
  <tr>
    <td><%=h almacen.nombre %></td>
    <td><%=h almacen.direccion %></td>
    <td><%=h almacen.codigo %></td>
    <td><%= link_to 'Ver', almacen %>
      <%= link_to 'Editar', edit_almacen_path(almacen) %>
      <%= link_to 'Borrar', almacen, :confirm => 'Estas seguro?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo almacen', new_almacen_path %>
