<p>
  <b>Nombre:</b>
  <%=h @almacen.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%=h @almacen.direccion %>
</p>

<p>
  <b>Codigo:</b>
  <%=h @almacen.codigo %>
</p>


<%= link_to 'Editar', edit_almacen_path(@almacen) %> |
<%= link_to 'Atras', almacenes_path %>