<% content_for :title do %>
Solicitudes
<% end %>

<h1>Solicitudes</h1>
<%  %>

<% #En este caso solo presenta si que es un superior o mayor %>
<% if @aprobar %>
<fieldset style="width:15em;">
  <legend>Tipo</legend>
  <div><label><%= radio_button_tag 'tipo', 'all', :checked => true %>Todas</label></div>
  <div><label><%= radio_button_tag 'tipo', 'pendientes' %>Pendientes de aprobación</lable></div>
  <div><label><%= radio_button_tag 'tipo', 'propias' %>Propias</label></div>
  <div><label><%= radio_button_tag 'tipo', 'aprobadas' %>Aprobadas</label></div>
  <div><label><%= radio_button_tag 'tipo', 'rechazadas' %>Rechazadas</label></div>
</fieldset><br/><br/>
<% end %>

<!--Div ustilizado para AJAX-->
<div id="buscar">
  <%= render :partial => "lista" %>
</div>
<br />

<%= link_to 'Nueva solicitud', new_solicitud_path %>
<script type="text/javascript">
$(document).ready(function() {
  $('input[type=radio]').click(function() {
    //$('#buscar').load('/solicitudes', {tipo: this.value}); // Cuando se carga con parametros realiza un POST y no GET
    $.get('/solicitudes', {tipo: this.value}, function(data) { $('#buscar').html(data); });
  });
});
</script>
