<h1>Listado de  solicitudes</h1>

<table>
  <tr>
    <th class="ui-state-default" >Fecha</th>
    <th class="ui-state-default">Estado</th>
    <th class="ui-state-default"> </th>
  </tr>

<% @solicitudes.each do |solicitud| %>
  <tr>
    <td><%= I18n.l solicitud.fecha, :format => "%d de %B %Y %H:%I" unless solicitud.fecha.nil? %></td>
    <td><%= solicitud.estado %></td>
    <td>
      <%= link_to 'Mostrar', solicitud_path(solicitud,:page => @page) %>
      <%= link_to 'Editar', edit_solicitud_path(solicitud, :page => @page) %>
      <%= link_to 'Eliminar', solicitud, :confirm => 'Esta Seguro?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva solicitud', new_solicitud_path %>
