<% content_for :title do %>
Ver Solicitud
<% end %>

<h1>Ver Solicitud</h1>

<div class="input">
<label>Creado por</label>
<%= @solicitud.usuario.nombre_completo %>
</div>

<div class="input">
  <label>Estado</label>
  <span class="estado resaltar"><%= @solicitud.estado %></span>
</div>

<div class="input">
  <label>Descripción</label>
  <%= @solicitud.descripcion %>
</div>

<% @partial = @partial == "aprobacion" ? "aprobacion" : "normal"  %>

<%= render :partial => "show_#{@partial}" %>

<% @aprobar = @solicitud.permitir_aprobacion_superior? %>
<% if @aprobar %>
  <ul class="inline">
    <li><%= link_to "Aprobar", send("#{@estado[:ruta]}_solicitud_path", @solicitud), :class => "aprobar estados" %></li>
    <li><%= link_to "Rechazar", send("#{@estado[:ruta]}_solicitud_path", @solicitud), :class => "rechazar estados" %></li>
  </ul>
<% end %>
<br/><br/>

<a href="#" id="a_detalle" class="bold icon-r mas">Mostrar detalle</a>
<div id="detalle" style="display:none;width: 700px;padding:5px" class="bg2">
  <div class="partial_detalles_estado">
    <%= render :partial => "detalle_estado" %>
  </div>
  <div class="partial_detalle_modificaciones">
    <%= render :partial => "detalle_modificaciones" %>
  </div>
</div>
<br/>
<br/>

<%= link_to 'Listado', solicitudes_path(@solicitud, :page => @page) %> |
<%= link_to 'Editar', edit_solicitud_path(@solicitud, :page=>@page) %>

<script type="text/javascript">
  $(document).ready(function() {
      $('a.estados').click(function(){ return false;});
      var token = '<%= form_authenticity_token() %>';
      // Funcion que permite cambiar el estado de la solicitud
      $('a.estados').click(function() {
          params = {authenticity_token: token, _method: "put"};
          // Parametro que indica que se haga un rechazo, valor negativo
          if($(this).hasClass("rechazar"))
            params["rechazar"] = true;
          // Indica que se vaya hacia atras la transaccion
          if($(this).hasClass("revertir"))
              params["revertir"] = true;

          $.post(this.href, params, function(data) {
            if(data.success) {
              $('span.estado:first').fadeOut(500).html(data.estado).fadeIn(500);
            }else{
              alert("No se pudo cambiar de estado");
            }
          }, 'json');
          return false;
      });

      // Mostrar detalle de la operación
      $('#a_detalle').click(function() {
         var target = $('#detalle');
        if($(this).html() == "Mostrar detalle") {
          $(this).html("Ocultar detalle").removeClass("mas").addClass("menos");
        }else {
          $(this).html("Mostrar detalle").removeClass("menos").addClass("mas");
        }
        target.toggle(300);
        
        return false;
      });

  });
</script>
