<% content_for :title do %>
Ver Solicitud
<% end %>

<h1>Ver Solicitud</h1>

<div class="input">
<label>Creado por</label>
<%= @solicitud.usuario.nombre_completo %>
</div>

<div class="input">
  <label>Estado</label>
  <span class="estado resaltar"><%= @solicitud.estado %></span>
</div>

<div class="input">
  <label>Descripción</label>
  <%= @solicitud.descripcion %>
</div>

<h3>Detalle de Items</h3>
<table>
    <tr>
    <th class="ui-state-default">Item</th>
    <th class="ui-state-default">Unid. Medida</th>
    <th class="ui-state-default">Cantidad</th>
    </tr>

<% @solicitud.solicitud_detalles.each do |inv| %>
  <tr>
    <td><%=h inv.item %></td>
    <td> <%=h inv.item.unidad_medida.abreviacion%></td>
    <td class="num"><%=h inv.cantidad %></td>
  </tr>
<% end %>
</table>
<br/><br/>

<% @aprobar = @solicitud.permitir_aprobacion_superior? %>
<% if @aprobar %>
  <ul class="inline">
    <li><%= link_to "Aprobar", superior_solicitud_path(@solicitud), :class => "aprobar estados" %></li>
    <li><%= link_to "Rechazar", anulacion_solicitud_path(@solicitud), :class => "rechazar estados" %></li>
  </ul>
<% end %>
<br/><br/>

<a href="#" id="a_detale">Mostrar detalle</a>
<div id="detalle" style="">
  <%= render :partial => "detalle" %>
</div>
<br/>
<br/>
<%= link_to 'Listado', solicitudes_path(@solicitud, :page => @page) %> |
<%= link_to 'Editar', edit_solicitud_path(@solicitud, :page=>@page) %>


<% if @aprobar %>
<script type="text/javascript">
  $(document).ready(function() {
      $('a.estados').click(function(){ return false;});
      var token = '<%= form_authenticity_token() %>';
      // Funcion que permite cambiar el estado de la solicitud
      $('a.estados').click(function() {
          $.post(this.href, {authenticity_token: token}, function(data) {
            if(data.success) {
              $('span.estado').fadeOut(500).html(data.estado).fadeIn(500);
            }else{
              alert("No se pudo cambiar de estado");
            }
          }, 'json');
          return false;
      });

      // Mostrar detalle de la operación
      $('#a_detalle').click(function() {
        $('#detalle').toggle();
        if($('#detalle').html() == "Mostrar detalle") {
          $('#detalle').html("Ocultar detalle");
        }else {
          $('#detalle').html("Mostrar detalle");
        }
        $('#detalle').toggle("medium");
      });

  });
</script>
<% end %>
