<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :partida_id %><br />
    <%= f.select :partida_id, Partida.all.map{|v| [v, v.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :unidad_medida_id, 'Unidad de medida' %><br />
    <%= f.select :unidad_medida_id, UnidadMedida.all.map{|v| [v, v.id]}, :include_blank => true  %>
  </p>
  <p>
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
    <p>
    <%= f.label :entero %>
    <%= f.check_box :entero %>
  </p>
  <p>
    <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>

