<% form_for(@item, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :partida_id %>
    <%= f.select :partida_id, Partida.list, :include_blank => true %>
  </p>
  <p>
    <%= f.label :unidad_medida_id, 'Unidad de medida' %>
    <%= f.select :unidad_medida_id, UnidadMedida.list, :include_blank => true  %>
  </p>
  <p>
    <%= f.label :codigo, "Código" %>
    <%= f.text_field :codigo %>
  </p>
  <p>
    <%= f.label :nombre, "Nombre:" %>
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :foto %>
    <%= f.file_field :foto, :size => 50 %>
  </p>
  <p>
    <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>

