<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unidad_id, 'Unidad:' %><br />
    <%= f.select :unidad_id, Unidad.all.map{|v| [v, v.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.label :ci, 'CI:' %><br />
    <%= f.text_field :ci %>
  </p>
  <p>
    <%= f.label :nombre, 'Nombre:' %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :paterno, 'Paterno:' %><br />
    <%= f.text_field :paterno %>
  </p>
  <p>
    <%= f.label :materno, 'Materno:' %><br />
    <%= f.text_field :materno %>
  </p>
 <p>
    <%= f.label :cargo, 'Cargo:' %><br />
    <%= f.text_field :cargo %>
  </p>
 <p>
    <%= f.label :login, 'Nombre de usuario:' %><br />
    <%= f.text_field :login %>
  </p>
 <p>
    <%= f.label :password, 'Contraseña:' %><br />
    <%= f.password_field :password %>
  </p>
 <p>
    <%= f.label :password_confirmation, 'Confirmar contraseña:' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  
  <% if current_user && current_user.admin? %>
  <p>
    <%= f.label :rol, 'Nivel De Acceso:' %><br />
    <%= f.select :rol, ["admin","almacenero","usuario","dga"] %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>
