<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unidad_id, 'Unidad:' %><br />
    <%= f.select :unidad_id, Unidad.list, :include_blank => true %>
  </p>
  <p>
    <%= f.label :rol_id, 'Rol:' %><br />
    <%= f.select :rol_id, Rol.list, :include_blank => true %>
  </p>
  <p>
    <%= f.label :ci, 'CI:' %><br />
    <%= f.text_field :ci %>
  </p>
  <p>
    <%= f.label :nombre, 'Nombre:' %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :paterno, 'Paterno:' %><br />
    <%= f.text_field :paterno %>
  </p>
  <p>
    <%= f.label :materno, 'Materno:' %><br />
    <%= f.text_field :materno %>
  </p>
 <p>
    <%= f.label :cargo, 'Cargo:' %><br />
    <%= f.text_field :cargo %>
  </p>
 <p>
    <%= f.label :login, 'Nombre de usuario:' %><br />
    <%= f.text_field :login %>
  </p>
  <% if @usuario.id.nil? %>
  <p>
    <%= f.label :password, 'Contraseña:' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Confirmar contraseña:' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <% end %>

  <p>
    <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>
