<% content_for :title do %>
Cambiar contraseña
<% end %>
<h1>Cambiar contraseña</h1>

<% form_for @usuario do |f| %>
  <p>
    <%= label "old_password", "Contraseña actual:" %><br/>
    <%= password_field_tag "old_password", "", :size => 30 %>
  </p>
  <p>
    <%= f.label :password, "Nueva contraseña:" %><br/>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirmar nueva contraseña:" %><br/>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit 'Salvar', :class => 'ui-corner-all' %>
<% end %>
