<% content_for :title do %>
Listado de Usuarios
<% end %>

<h1>Usuarios</h1>

<table>
  <tr>
    <th class="ui-state-default">Nombre Completo</th>
    <th class="ui-state-default">Unidad</th>
    <th class="ui-state-default">&nbsp;</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=h usuario.nombre_completo %></td>
    <td><%=h usuario.unidad %></td>
    <% if current_user && current_user.admin? %>
    <td>
      <%= link_to 'Ver', usuario_path(usuario, :page => @page) %>
      <%= link_to 'editar', edit_usuario_path(usuario, :page => @page)  %>
      <%= link_to 'borrar', usuario, :confirm => 'Esta seguro de borrar?', :method => :delete, :class => 'delete' %>
    </td>
    <% end %>
  </tr>
<% end %>
</table>
<% if current_user && current_user.admin? %>
<br />
<%= link_to 'Nuevo usuario', new_usuario_path %>
<%= will_paginate @usuarios %>  <!--<-- esta linea estamos poniendo -->-->
<% end %>
