<% title "Usuario Sessiones" %>

<table>
  <tr>
    <th>Login</th>
    <th>Password</th>
  </tr>
  <% for usuario_session in @usuario_sessiones %>
    <tr>
      <td><%=h usuario_session.login %></td>
      <td><%=h usuario_session.password %></td>
      <td><%= link_to "Show", usuario_session %></td>
      <td><%= link_to "Edit", edit_usuario_session_path(usuario_session) %></td>
      <td><%= link_to "Destroy", usuario_session, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Usuario Session", new_usuario_session_path %></p>
