<%= error_messages_for :user_session %>
Como es rbow
<% form_for @user_session do |f| %>
  <p>
    <%= f.label :login, "Usuario:" %>
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :password, "Contraseña:" %>
    <%= f.text_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
