<% form_for(@inventario) do |inv| %>
  <%= inv.label :descripcion %>
  <%= inv.text_area :descripcion, :rows => 10 %>
  <table id="inventarioDetalles">
  <tr>
    <th class="ui-state-default">Item</th>
    <th col="precio" class="ui-state-default">Precio</th>
    <th col="cantidad" class="ui-state-default">Cantidad</th>
    <th col="subtotal" formula="precio*cantidad" class="ui-state-default" summary="sum">Subtotal</th>
    <th class="ui-state-default">Borrar</th>

    
    <!-- <th class="ui-state-default">Precio</th> -->
  </tr>
  <% inv.fields_for :inventario_detalles do |det| %>
  <tr>
    <td><%= det.select :item_id, Item.all.map{|v| [v, v.id] }, :include_blank => true %></td>
    <td><%= det.text_field :precio_unitario, :class => 'num' %></td>
    <td><%= det.text_field :cantidad, :class => 'num' %></td>
    <td>&nbsp;</td>
    <td><%= det.check_box :_delete %></td>
  </tr>
  <% end %>
  </table>
  <%= submit_tag("Ingresar") %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $('#inventarioDetalles').grider();
});
</script>
