<style>
#item_flexselect{width: 500px}
</style>
<% form_for(@inventario) do |inv| %>

<%= inv.error_messages %>
<p>
  <%= inv.label :almacen_id, "Almacen" %>
  <%= inv.select :almacen_id, Almacen.list, :include_blank => true %>
</p>
<p>
  <%= inv.label :descripcion, "Descripción" %>
  <%= inv.text_area :descripcion, :rows => 10 %>
</p>
<br/><br/><br/>
  <div class="input buscar">
  <label>Buscar Item:</label>
  <% @items = Item.list %>
  <%= select_tag "item", "<option></option>"+ @items.map{|v| "<option value=\"#{v[1]}\">#{v[0]}</option>" }.join("")  %>
  </div>
  <br/><br/>
<h3>Items</h3>
  <table id="inventarioDetalles">
  <tr>
    <th class="ui-state-default" style="width:200px">Item</th>
    <th col="precio" class="ui-state-default">Precio</th>
    <th col="cantidad" class="ui-state-default">Cantidad</th>
    <th col="subtotal" formula="precio*cantidad" class="ui-state-default" summary="sum">Subtotal</th>

    
    <!-- <th class="ui-state-default">Precio</th> -->
  </tr>
  <% inv.fields_for :inventario_detalles do |det| %>
  <tr>
    <td>
      <%= det.hidden_field :item_id %>
      <% unless det.object.item_id.nil? %>
        <%= buscar_en_lista(@items, det.object.item_id)[0] %>
      <% end %>
    </td>
    <td><%= det.text_field :precio_unitario, :class => 'num' %></td>
    <td>
      <%= det.text_field :cantidad, :class => 'num' %>
    </td>
    <td>&nbsp;</td>
  </tr>
  <% end %>
  </table>
  <p>
    <%= inv.submit 'Salvar', :class => 'ui-corner-all' %>
  </p>
<% end %>


<script type="text/javascript">
$(document).ready(function() {
  $('#inventarioDetalles').grider({addRowWithTab: false})
  .find("caption").hide();
 
  $('#item').flexselect()
  val = $('#item').val();
  // Sirve para poder saber si es edicion o creacion de un inventario
  var init = <%= @inventario.inventario_detalles.first.item_id.nil? ? false : true %>;
  // En esta variable se almacena todos los ids para la cadena JSON de "elementos"
  <% @elementos = {} %>
  <% @inventario.inventario_detalles.map{|v| @elementos[v.id] = true } unless @inventario.id.nil? %>
  // Variable que permite almacenar todos los items seleccionados, para no repetir la seleccion
  elementos = <%= @elementos.to_json %>;
  // Es necesario borrar los items de "elementos" cuando se borrar de la tabla
  $('#item_flexselect').focus(function() {
    var tmp = $('#item').val();
    if(val != tmp  && !elementos[tmp + ""]) {
      val = tmp;
      elementos[tmp + ""] = true;
      if(init) {
        $('#inventarioDetalles caption a').click();
      }
      var num = $('#inventarioDetalles tr:not(.noedit):last input:text').attr("name").replace(/^.*([0-9]+).*$/,"$1");
      var html = "<input type='hidden' name='inventario[inventario_detalles_attributes]["+ num +"][item_id]' value='" + tmp + "' />";
      html += this.value;
      $('#inventarioDetalles').find("tr:not(.noedit):last td:eq(0)").html(html);
      init = true;
      $('#item_flexselect').val('');
    }/*else if(elementos[tmp + ""]) 
      this.value = '';
      alert("Usted ya selecciono este ítem");
      }*/
    });

  // Esto permite capturar el evento cuando se hace click en a.delete de la tabla "inventarioDetalles"
  $('#inventarioDetalles a.delete').live("click", function() {
    //Buscar parent y despues buscar dentro del parent el campo hidden
      var item_id = $(this).parents("tr").find("input:hidden").val();
      //Borrar el item de elementos
      delete elementos[item_id];
  });

});

</script>
