<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= yield :title %> - Sistema de Almacenes</title>
  <%= stylesheet_link_tag "application.css", "../javascripts/jquery-ui/themes/darkness/ui.all.css"%>
  <%= javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui/jquery-ui-1.7.1.custom.min.js",
  "application.js", "jquery-ui/ui/i18n/ui.datepicker-es.js", "grider/grider.js" %>
<%= javascript_include_tag "jquery.flexselect-0.2/liquidmetal.js", "jquery.flexselect-0.2/jquery.flexselect" %>
<%= stylesheet_link_tag "../javascripts/jquery.flexselect-0.2/flexselect.css" %>

</head>
<body>
<ul id="navigation">
<% @menu = [[:usuarios, "Usuarios"],[:items, "Items"],[:unidad_medidas, "Medidas"],[:partidas, "Partidas"],[:almacenes, "Almacenes"],[:inventarios, "Inventarios"],[:solicitudes, "Solicitudes"]] %>
<% @menu.each do |m|%>
  <li><%= link_to m[1], m[0]  %></li>
<% end %>
</ul>
<div id="cont">
  <div id="flashNotice"><%= flash[:notice] %></div>

  <%= yield %>
</div>

</body>
</html>
<script type="text/javascript">
$(document).ready(function(){
  $("select[class*=flexselect]").flexselect();
});
</script>
